# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript files
[*.{js,mjs}]
indent_size = 2
quote_type = single

# JSON files
[*.json]
indent_size = 2

# HTML files
[*.html]
indent_size = 2

# CSS files
[*.css]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# Package files
[package.json]
indent_size = 2

# Chrome extension manifest
[manifest.json]
indent_size = 2 