<div id="g2tPopup" class="J-M jQjAxd open clearfix" style="display: none;">
  <div class="header make-flex flex-apart">
    <div class="make-flex">
      <a id="g2tAvatarURL" href="https://g2t.support" target="_blank" title="Open your Trello homepage"
        class="member-avatar">
        <div id="g2tAvatarImgOrText"></div>
      </a>
      <a id="g2tUsername" href="https://g2t.support" target="_blank" title="Open your Trello homepage"
        style="margin-left: 5px;">Username</a>
      | <a id="g2tSignOutButton" title="Sign out">Sign out</a> |
      <a href="https://g2t.support" target="_blank" title="Open Gmail-2-Trello board in a new window">Help</a>
      | <a id="report" title="Create error report card">Report</a>
      <!-- | <a id="g2tSubscribe" title="Subscribe">Subscribe</a> -->
    </div>
    <div class="make-flex">
      <a id="close-button" class="make-flex" title="Close">&times;</a>
    </div>
  </div>
  <div class="popupMsg make-flex">Loading...</div>
  <div class="content" style="display: none;">
    <div class="g2tTopRight make-flex flex-end">
      <div style="float: right;">

      </div>
    </div>
    <div class="g2tMain">
      <div class="upper-half">
        <div class="make-flex first-row align-top flex-start">
          <div class="g2tFormGroup align-top">
            <label class="g2tFormLabel">Where:</label>
            <div class="g2tFormControl">
              <select id="g2tBoard" class="g2tWhere">
                <option value="">Select a board...</option>
              </select>
              <select id="g2tList" class="g2tWhere">
                <option value="">...please pick a board...</option>
              </select>
              <select id="g2tPosition">
                <option value="below">below:</option>
                <option value="to">to:</option>
              </select>
              <select id="g2tCard" class="g2tWhere">
                <option value="">...please pick a list...</option>
              </select>
            </div>
          </div>
          <input type="button" disabled="true" id="addToTrello" title="Add this Gmail data to Trello"
            value="+Trello!" />
        </div>

        <div class="g2tFormGroup align-top">
          <label class="g2tFormLabel memberLabel" id="g2tLabelsHeader"
            title="Shift-click me to clear all labels">Labels:</label>
          <div class="clearfix g2tFormControl">
            <div id="g2tLabelsMsg" class="placeholder-label">
              ...please pick a board...
            </div>
            <div id="g2tLabels" class="make-flex flex-start flex-wrap"></div>
          </div>
        </div>
        <div class="g2tFormGroup g2tAssignments align-top">
          <label class="g2tFormLabel memberLabel" id="g2tMembersHeader"
            title="Shift-click me to clear all assignments">Assign:</label>
          <div class="clearfix g2tFormControl">
            <div id="g2tMembersMsg" class="placeholder-label">
              ...please pick a board...
            </div>
            <div id="g2tMembers" class="make-flex flex-wrap flex-start"></div>
          </div>
        </div>
        <div class="g2tFormGroup align-center">
          <label class="g2tFormLabel">Due:</label>
          <div class="clearfix g2tFormControl">
            <input type="date" id="g2tDue_Date" />
            <input type="time" id="g2tDue_Time" />
            <select id="g2tDue_Shortcuts">
              <option value="d=0 am=0">--</option>
            </select>
            <input type="checkbox" checked="checked" id="chkMarkdown" style="margin-left: 10px;" />
            <label for="chkMarkdown">Markdown</label>
            <input type="checkbox" checked="checked" id="chkBackLink" style="margin-left: 10px;" />
            <label for="chkBackLink">Add Gmail link</label>
          </div>
        </div>
        <div class="g2tFormGroup align-center">
          <label class="g2tFormLabel">Title:</label>
          <div class="g2tFormControl"><input type="text" id="g2tTitle" /></div>
        </div>
      </div>
      <div class="lower-half">
        <div class="g2tFormGroup g2tAssignments align-top">
          <label class="g2tFormLabel memberLabel" id="g2tAttachHeader"
            title="Shift-click me to clear all assignments">Attach:</label>
          <div class="clearfix g2tFormControl">
            <div class="make-flex flex-wrap flex-start" id="g2tAttachments"></div>
          </div>
        </div>
        <div class="g2tFormGroup g2tAssignments align-top">
          <label class="g2tFormLabel memberLabel" id="g2tImagesHeader"
            title="Shift-click me to clear all assignments">Images:</label>
          <div class="clearfix g2tFormControl">
            <div class="make-flex flex-wrap flex-start" id="g2tImages"></div>
          </div>
        </div>

        <div class="g2tFormGroup align-top body-row">
          <label class="g2tFormLabel no-margin">Body:</label>
          <div class="g2tFormControl align-top">
            <textarea id="g2tDesc" rows="4"></textarea>
          </div>
        </div>
        <!-- <div id="g2tAttachmentsContainer">
          <div class="g2tFormGroup align-top">
            <label class="g2tFormLabel" id="g2tAttachHeader"
              title="Shift-click me to select/de-select all attachments">Attach:</label>
            <div class="g2tFormControl" id="g2tAttachments" ></div>
          </div>
        </div>
        <div id="g2tImagesContainer">
          <div class="g2tFormGroup align-top">
            <label class="g2tFormLabel no-margin make-flex" id="g2tImagesHeader"
              title="Shift-click me to select/de-select all images">Images:</label>
            <div class="g2tFormControl" id="g2tImages"></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>