/* NOTE (Ace, 15-Jan-2017): Latest Clearfix update as per http://cssmojo.com/the-very-latest-clearfix-reloaded/ */

#g2tPopup {
    position: absolute;
    min-height: 450px;
    min-width: 720px;
    max-width: 100%;
    max-height: none;
    -webkit-user-select: none;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background: #fefefe;
    padding: 0;
    margin-top: 24px;
    opacity: 0.97;
    z-index: 9999;
    overflow: hidden;
    white-space: normal;
}

/* Global elements */
#g2tPopup a {
    margin: 0 4px;
    text-decoration: none;
    color: #458cbd;
    transition: 350ms;
}
#g2tPopup a:hover {
    color: #1e5175;
}
/* End of global elements */

/* Common presets */
#g2tPopup a:not(.hideMsg + a) {
    font-weight: bold;
}

#g2tPopup input[type="button"] {
    padding: 5px 16px;
    border-radius: 3px;
}
#g2tPopup input[type="checkbox"] + label {
    text-align: right;
}
#g2tPopup input[type="checkbox"] {
    margin-right: 4px;
}

#g2tPopup .member-avatar {
    margin: 0px !important;
    line-height: 10px;
}
/* End of common presets */

.ui-widget,
#g2tPopup {
    font-size: 14px;
}

#g2tPopup .content {
    position: relative;
    left: 0;
    padding: 3px 5px 3px 5px;
    overflow: auto;
}
#g2tPopup .g2tMain {
    /* Using flex layout to split the main content in to two rows. The Flex layout also allows the 
    second row to expand vertically to take up the remaining height without using JS to adjust the height. KS */
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    overflow-y: auto;
}

#g2tPopup .popupMsg {
    border: 1px solid #edc967;
    background: #f9edb8;
    padding: 5px 10px 15px;
    margin: 10px;
}
#g2tPopup #resize-icon {
    position: relative;
    bottom: 24px;
    right: 24px;
}

#g2tPopup #g2tLabelsMsg,
#g2tPopup #g2tMembersMsg {
    background: #f9edb8;
    height: 16px;
    width: 29%;
    padding-left: 1%;
    margin-right: 70%;
    margin-bottom: 50px;
}

#g2tPopup #g2tLabels {
    margin: 0;
    padding: 0;
    min-height: 40px;
    max-height: 96px;
    width: 100%;
    overflow: auto;
}
#g2tPopup #g2tMembers,
#g2tPopup #g2tAttachments,
#g2tPopup #g2tImages {
    max-height: 96px;
    overflow: auto;
}

#g2tPopup #g2tPosition li {
    float: left;
    cursor: pointer;
    list-style: none;
    background: #f2f2f2;
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
    height: 26px;
    width: 22px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
}

#g2tPopup #addToTrello[disabled],
#g2tPopup #addToTrello[disabled]:hover,
#g2tPopup input[disabled],
#g2tPopup input[disabled]:hover {
    background: #ccc;
    color: #666;
    cursor: default;
}

#g2tPopup .popupMsg {
    position: relative;
    border: 1px solid #edc967;
    font-weight: normal;
}
#g2tPopup .popupMsg .hideMsg + a {
    color: blue;
}
#g2tPopup .popupMsg .hideMsg {
    background: #edc967;
    font-size: 150%;
    padding: 0 5px;
    position: absolute;
    right: 0;
    border-radius: 3px;
    color: #080808;
    font-weight: bold;
}

#g2tPopup #g2tImages img {
    vertical-align: middle;
    border: 1px solid lightgray;
    margin: 1px auto;
    padding: 1px;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

/* This is part of the root element, therefore no namespace. Adding a namespace will break the functionality. KS */
.ui-tooltip {
    max-height: 500px;
    max-width: 500px;
    width: auto;
    overflow: auto;
}
.ui-tooltip-content {
    height: 100%;
}

/* This is part of the root element, therefore no namespace. Adding a namespace will break the functionality. KS */
.ui-tooltip-content img {
    border: 1px solid lightgray;
    max-height: 50%;
    max-width: 100%;
    max-height: 480px;
    /* width: auto; */
    display: block;
}

/* Error styles */
#g2tPopup .popupMsg #error {
    font-weight: bold;
}

#g2tPopup .popupMsg #error dt {
    float: left;
    clear: left;
    width: 110px;
    text-align: right;
    color: red;
}
/* End of Error styles */

#g2tPopup .popupMsg dt {
    float: left;
    clear: left;
    width: 110px;
    text-align: right;
}

#g2tPopup .g2tWhere {
    width: 180px;
}

/* Updated Styles. KS */
#g2tPopup .content {
    /* where 33px is the combination of header's height(30px) and the .content's padding (3px) */
    height: calc(100% - 33px);
}

/* Create a flex-box based common alignment. So that floats and its pitfalls can be avoided. */
/* Common utility classes. */
#g2tPopup .make-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#g2tPopup .make-flex,
#g2tPopup .g2tFormGroup,
#g2tPopup .g2tFormControl,
#g2tPopup .g2tFormControl label,
#g2tPopup .g2tFormControl .img-container,
#g2tPopup #g2timgOrattach,
#g2tPopup .memberLabel,
#g2tPopup button[trelloid-member] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#g2tPopup .flex-apart {
    justify-content: space-between;
}
#g2tPopup .flex-start {
    justify-content: flex-start;
}
#g2tPopup .flex-end {
    justify-content: flex-start;
}
#g2tPopup .align-center {
    align-items: center !important;
}
#g2tPopup .align-top {
    align-items: flex-start !important;
}
#g2tPopup .flex-wrap {
    flex-wrap: wrap;
}
/* End of common utility classes */

/* trelloid-member */
#g2tPopup button[trelloid-member],
#g2tPopup .imgOrAttach label {
    padding: 4px;
    margin: 0;
    background-color: #ddd;
    border: 2px solid #ddd;
    border-top: 4px solid #ddd;
    border-radius: 2px;
    min-width: 45px;
    background-image: linear-gradient(to bottom, #eeeeee 0, #999999 100%);
}
#g2tPopup button[trelloid-member].active,
#g2tPopup .imgOrAttach input:checked + label {
    border-color: rgba(120, 217, 255, 0.8);
}
#g2tPopup button[trelloid-member] img {
    margin-right: 6px;
}

#g2tPopup #g2tLabels button,
#g2tPopup #g2tMembers button,
#g2tPopup .imgOrAttach label {
    float: left;
    margin: 0 2px 2px 0;
    padding: 4px;
    list-style: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-top-width: 4px;
    cursor: pointer;
    background: #f2f2f2;

    font-weight: bold;
    color: #888;
}
#g2tPopup .imgOrAttach label {
    box-sizing: border-box;
    float: none;
    width: 40px;

    /* hiding the checkbox behind the label */
    position: relative;
    z-index: 1;
}

#g2tPopup #addToTrello {
    font-size: 14px;
    padding: 6px 18px;
    color: white;
    background: linear-gradient(to top, #24a828 0, #1b7e1e 100%);
    border: 0;
    cursor: pointer;
    margin: 0px;
}
#g2tPopup #addToTrello:hover {
    background: linear-gradient(to bottom, #1f9323 0, #166919 100%);
}

#g2tPopup .header {
    background-color: #edebee;
    color: #27282b;
    font-weight: bold;
}

#g2tPopup .header #close-button {
    font-size: 24px;
    margin: 0px;
    color: #080808;
    background-color: #d5d5d5;
    border-radius: 3px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}

#g2tPopup .header #close-button:hover,
#g2tPopup .hideMsg:hover {
    color: #d43030 !important;
    background: #afafaf !important;
}

#g2tPopup .placeholder-label,
#g2tPopup .popupMsg {
    background: #f9edb8;
    padding: 3px 8px;
    border-radius: 3px;
    margin-bottom: 2px;
}

#g2tPopup .g2tFormGroup {
    margin: 0 0px 6px 4px;
    width: calc(100% - 4px);
}
#g2tPopup .g2tFormGroup .g2tFormControl .g2t-holder-button {
    position: static;
}

#g2tPopup .g2tFormGroup .g2tFormLabel {
    min-width: 75px;
    padding: 5px 0;
    margin-right: 4px;
    text-align: right;
}

#g2tPopup .g2tFormLabel {
    font-size: 0.875rem;
}
#g2tPopup .g2tFormGroup .g2tFormControl {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}
#g2tPopup .first-row {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4px;
}

#g2tPopup .first-row .g2tFormGroup {
    margin-bottom: 0;
    margin-top: 0;
}
#g2tPopup .first-row .g2tFormLabel {
    padding-top: 2px;
}
#g2tPopup .first-row select {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 1px 20px 1px 6px !important;
}
#g2tPopup .memberLabel {
    height: 39px;
    padding: 0 !important;
    margin: 0 4px 0 0 !important;
    justify-content: flex-end;
}

#g2tPopup #g2tLabel button:hover,
#g2tPopup #g2tMembers button:hover,
#g2tPopup .imgOrAttach label:hover {
    border-color: #52a8d9 !important;
    color: #1789c0 !important;
}

#g2tPopup #g2tLabels button.active,
#g2tPopup #g2tMembers button.active,
#g2tPopup .imgOrAttach input:checked + label {
    border-color: inherit;
    color: black;
    padding: 3px 3px;
    border: 4px solid;
    border-top-width: 7px;
    background: linear-gradient(to bottom, #eeeeee 0, #999999 100%);
}
#g2tPopup .imgOrAttach input:checked + label:hover {
    border-color: #52a8d9 !important;
    color: #1789c0 !important;
}
#g2tPopup .imgOrAttach input:checked + label:active {
    border-color: rgba(120, 217, 255, 0.8) !important;
}
#g2tPopup #g2tPosition li:hover,
#g2tPopup #g2tPosition li.active:hover {
    color: black;
}
#g2tPopup #g2tPosition li.active {
    color: darkgreen;
    background: #f2f2f2;
}

#g2tPopup .imgOrAttach input {
    /* The checkbox needs to be rendered in the view, for the tab to work. 
    Therefore hiding it behind the label instead of display none.  */
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    opacity: 0;
}
#g2tPopup .imgOrAttach input:active + label {
    border-color: rgba(120, 217, 255, 0.8) !important;
}
#g2tPopup .imgOrAttach input:focus + label {
    outline: 5px auto -webkit-focus-ring-color !important;
}

#g2tPopup .imgOrAttach .img-container {
    height: 30px;
    width: 100%;
}
#g2tPopup .imgOrAttach .img-container,
#g2tPopup .imgOrAttach .img-container img {
    max-width: -webkit-fill-available !important;
}
#g2tPopup .imgOrAttach .img-container img {
    margin: 0 auto;
    width: 30px;
}

#g2tPopup #g2tAttachments .imgOrAttach label {
    overflow: hidden;
    text-overflow: ellipsis;
    /* shows atleast 10 chars. */
    width: 10ch;

    white-space: nowrap;
    display: block;
}
#g2tPopup #g2tAttachments .img-container {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

/* Adjusting the text's width inside the form control. */
/* styles for form control */
#g2tPopup .g2tFormControl select,
#g2tPopup .g2tFormControl input[type="text"],
#g2tPopup .g2tFormControl input[type="date"],
#g2tPopup .g2tFormControl input[type="time"],
#g2tPopup .g2tFormControl textarea {
    padding: 0px 6px;
    line-height: 20px;
    border-radius: 5px;
    margin: 2px 0px 2px 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    color: #2c2c2c;
}
#g2tPopup .g2tFormControl input[type="text"],
#g2tPopup .g2tFormControl input[type="date"],
#g2tPopup .g2tFormControl input[type="time"],
#g2tPopup .g2tFormControl textarea {
    min-height: 21px;
    width: 100%;
}
#g2tPopup.g2tFormControl input[type="date"],
#g2tPopup .g2tFormControl input[type="time"],
#g2tPopup .g2tFormControl select {
    margin: 2px 4px 2px 0;
}
#g2tPopup .g2tFormControl textarea {
    padding-top: 4px;
    margin: 0px;
    height: calc(100% - 11px);
    resize: none;
}

#g2tPopup .g2tFormControl input[type="text"],
#g2tPopup .g2tFormControl textarea {
    width: calc(100% - 4px);
}

#g2tPopup .g2tFormControl input[type="time"] {
    width: fit-content;
}
#g2tPopup .g2tFormControl input[type="date"] {
    width: 11em;
}
#g2tPopup .g2tFormControl select {
    padding: 2px 6px;
    -webkit-appearance: none;
    padding-right: 20px;
    background: url("chrome-extension://__MSG_@@extension_id__/images/chevron-down.png") no-repeat calc(100% - 5px) 50%;
    background-size: 11px;
}
#g2tPopup #g2tDue_Shortcuts {
    padding: 0 10px 2px 11px;
    -webkit-appearance: none;
    width: 1em;
}
#g2tPopup .align-top {
    align-items: flex-start;
}
#g2tPopup .lower-half {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}
#g2tPopup .g2t-no-margin {
    margin: 0px;
}
#g2tPopup .g2t-body-row {
    flex-grow: 2;
    margin-bottom: 0px;
}
#g2tPopup .g2t-body-row label {
    padding-top: 4px;
}

/* Type-in Select's CSS */
#g2tPopup .g2t-custom-combobox {
    display: flex;
    align-items: center;
    justify-content: center;
}
#g2tPopup .g2t-custom-combobox-toggle {
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
#g2tPopup .g2t-custom-combobox-input {
    margin: 0;
    padding: 3px;
    border-right: 0px !important;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
}
#g2tPopup .g2t-custom-combobox a span {
    display: none;
}
#g2tPopup .g2t-custom-combobox-input,
#g2tPopup .g2t-custom-combobox a {
    border-color: rgb(233, 233, 233) !important;
}
#g2tPopup .g2t-custom-combobox a {
    height: 24px;
    width: 20px;
    display: block;
    margin: 0 4px 0 0 !important;
    border-left: 0px !important;
    background: #fff url("chrome-extension://__MSG_@@extension_id__/images/chevron-down.png") no-repeat 50% 50% !important;
    background-size: 10px !important;
    border-radius: 0 5px 5px 0;
}
/* End of Type-in Select's CSS */

/* Adjusting type-in widths  */
#g2tPopup #g2tPosition {
    width: 70px;
}
#g2tPopup .g2t-custom-combobox input {
    width: 100% !important;
}
[for-select="g2tBoard"],
[for-select="g2tList"] {
    max-width: 200px;
    min-width: 150px;
    flex-grow: 1.5;
    flex-basis: 150px;
}
[for-select="g2tCard"] {
    flex-grow: 1.5;
    min-width: 150px;
    flex-basis: 150px;
}
#g2tPopup #g2tLabels button.active-mouseDown,
#g2tPopup #g2tLabels .active-mouseDown,
#g2tPopup #g2tMembers button.active-mouseDown,
#g2tPopup #g2tMembers .active-mouseDown {
    border-color: rgba(120, 217, 255, 0.8) !important;
}

/* Potential fix for the bug that hides the autoselect behind the pop-up */
.ui-autocomplete.ui-front {
    z-index: 9999 !important;
}
