/* NOTE (Ace, 15-Jan-2017): Latest Clearfix update as per http://cssmojo.com/the-very-latest-clearfix-reloaded/ */

/* .clearfix:after {
    content: ""; */
/* Seems to do better than "block": */
/* display: table;
    clear: both;
} */

#g2tPopup {
    position: absolute;
    min-height: 450px;
    min-width: 720px;
    max-width: 1400px;
    max-height: none;
    -webkit-user-select: none;
    border-top: 2px solid #ccc;
    /*#0088C3; */
    border-bottom: 2px solid #ccc;
    background: #fefefe;
    padding: 0;
    font-size: 12px;
    margin-top: 24px;
    opacity: 0.97;
    z-index: 9999;
    overflow: hidden;
    white-space: normal;
}

/* #g2tTitle {
    min-height: 1em;
    max-height: 1em;
    width: 100%;
} */

#g2tDesc {
    /* was: 100px; style="height: 180px; width: 300px;" */
    /* min-height: 4em; */
    /* was: 339px; */
    /* width: 100%;  */
    /* z-index: 2;
    position: relative;
    line-height: normal;
    font-size: 13px;
    -webkit-transition: none;
    transition: none;
    overflow: auto;
    background: transparent;
    resize: vertical; */
}

/* #g2tButton {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-user-select: none;
    margin-bottom: 0px;
    margin-top: -2px;
    outline: none;
} */
#g2tPopup .content {
    position: relative;
    left: 0;
    padding: 5px;
    /* height: 100%; */
    overflow: auto;
}
.g2tMain {
    /* Where 16px is the height of the padding combined. */
    height: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    overflow-y: auto;
}
/* .content .lower-half {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    max-height: 500px;
} */
/* #g2tButton * {
    outline: none;
}
#g2tButton img {
    vertical-align: middle;
    height: 20px;
    padding-right: 2px;
}



#g2tPopup .popupMsg {
    border: 1px solid #edc967;
    background: #f9edb8;
    padding: 5px 10px 15px;
    margin: 10px;
}
#g2tPopup #resize-icon {
    position: relative;
    bottom: 24px;
    right: 24px;
} */
/* 
#g2tPopup .g2tFormControl {
    min-height: 31px;
} */

.placeholder-label {
    /* background: #f9edb8;
    padding: 4px 8px;
    width: 25%;
    min-width: 25%;
    margin: 0 4px;
    border-radius: 5px; */
    /* padding-left: 1%; */
    /* margin-right: 70%; */
    /* margin-bottom: 50px; */
}

#g2tLabelsMsg,
#g2tMembersMsg {
    background: #f9edb8;
    height: 16px;
    width: 29%;
    padding-left: 1%;
    margin-right: 70%;
    margin-bottom: 50px;
}

#g2tLabels {
    margin: 0;
    padding: 0;
    min-height: 40px;
    max-height: 96px;
    width: 100%;
    overflow: auto;
}

/* #g2tMembers {
    margin: 0;
    padding: 0;
    min-height: 50px;
    max-height: 124px;
    width: 100%;
    overflow: auto;
}

ul#g2tPosition {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0 0 2px 0;
}
*/

#g2tPosition li {
    float: left;
    cursor: pointer;
    list-style: none;
    background: #f2f2f2;
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
    height: 26px;
    width: 22px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
}

/* #g2tAttachments, #g2tImages {
    width: 100%;
} */

/* .g2tFormControl input,
.g2tFormControl .img-container {
    margin: 0 4px;
} */
/* #g2tImages,
#g2tAttachments {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} */
/* #g2tImages label {
    margin: 2px 0;
} */
/* #g2tPopup .g2tFormLabel {
    width: 70px;
    float: left;
    text-align: right;
    padding-right: 5px;
    vertical-align: baseline;
} */
/* #g2tPopup .g2tFormControl {
    display: block;
    margin: 8px;
    margin-left: 75px;
} */

#g2tPopup input,
#g2tPopup select,
#g2tPopup option {
}

#g2tPopup .g2tTopRight {
    /* float: right;
    vertical-align: top;
    margin: 0; */
}

#g2tPopup #addToTrello /* input[type=button] */ {
    /* font-size: 14px;
    padding: 5px 18px;
    color: white;
    background: linear-gradient(to top, #24a828 0, #1b7e1e 100%);
    border: 0;
    border-radius: 3px;
    cursor: pointer; */
}
#g2tPopup #addToTrello:hover /* input[type=button]:hover */ {
    /* background: linear-gradient(to bottom, #1f9323 0, #166919 100%); */
}
/* #g2tPopup input[type="text"],
#g2tPopup textarea {
    padding: 3px;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
} */

#g2tPopup #addToTrello[disabled],
#g2tPopup #addToTrello[disabled]:hover,
#g2tPopup input[disabled],
#g2tPopup input[disabled]:hover {
    background: #ccc;
    color: #666;
    cursor: default;
}

#g2tPopup .header {
    /* font-weight: bold;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    background: #eceaed;
    border-bottom: 1px solid #ccc; */
}
#g2tPopup .header a {
    /* text-decoration: none;
    color: #1789c0; */
}
#g2tPopup .header a:hover {
    /* text-decoration: underline; */
}
/* #g2tPopup .header .item {float: left; margin-right: 10px;} */
#g2tPopup .member-avatar {
    /* float: left;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: lightgray;
    color: black;
    text-align: center; */
}
#g2tPopup .member-avatar:hover {
    /* color: lightblue;
    background: darkgray; */
}
#g2tPopup #close-button,
#g2tPopup .popupMsg .hideMsg {
    /* float: right;
    margin: 0;
    padding: 0 10px;
    border-radius: 3px;
    color: black;
    background: lightgray;
    font-weight: bold;
    font-size: 200%;
    text-decoration: none; */
}
/* #g2tPopup #close-button:hover,
#g2tPopup .popupMsg .hideMsg:hover {
    color: red;
    background: darkgray;
} */
#g2tPopup .popupMsg .hideMsg {
    /* background: #edc967;
    font-size: 150%;
    padding: 0 5px;
    margin-top: -5px;
    margin-right: -10px; */
} /* hideMsg close box is smaller */

/* #g2tPopup #g2tAttachments,
#g2tPopup #g2tImages {
    min-height: 60px;
    max-height: 120px;
    width: 100%;
    display: inline-block;
    overflow: auto;
    padding: 0;
    margin: 0;
} */
/* #g2tPopup #g2tAttachments input[type="checkbox"],
#g2tPopup #g2tImages input[type="checkbox"] {
    width: 15px;
} */
/* #g2tPopup #g2tAttachments label,
#g2tPopup #g2tImages label {
    display: inline-block;
    padding-left: 24px;
    text-indent: -18px;
} */

/* #g2tPopup #g2tImages .img-container {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-indent: 0;
    padding-right: 8px;
    margin: 5px 0;
} */
#g2tPopup #g2tImages img {
    vertical-align: middle;
    border: 1px solid lightgray;
    margin: 1px;
    padding: 1px;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
.ui-tooltip {
    max-height: 500px;
    max-width: 500px;
    width: 500px;
    overflow: auto;
}
.ui-tooltip-content img {
    border: 1px solid lightgray;
    max-width: 100%;
    height: auto;
    width: auto;
}

#g2tPopup .popupMsg #error {
    /* font-weight: bold; */
}
#g2tPopup .popupMsg #error dt {
    /* float: left;
    clear: left;
    width: 110px;
    text-align: right;
    color: red; */
}

#g2tPopup .popupMsg dt {
    /* float: left;
    clear: left;
    width: 110px;
    text-align: right; */
}

#g2tPopup .g2tWhere {
    width: 180px;
}

#g2tPopup .positionGroup .g2t-button {
    /* background-color: lightgray;
    border: 1px solid black;
    color: black;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    width: 30px;
    display: block; */
}

#g2tPopup .positionGroup .g2t-button:not(:last-child) {
    /* border-bottom: none;  */
    /* Prevent double borders */
}

#g2tPopup .positionGroup .g2t-button:hover {
    /* background-color: #3e8e41; */
}

#g2tPopup .positionGroup .g2t-button:active {
    /* background-color: darkgray; */
}

/* End, style.css */

/* Updated Styles. KS */

.content {
    /* where 40px is the combination of header's height(30px) and the .content's padding (10px) */
    height: calc(100% - 40px);
}

/* Create a flex-box based common alignment. So that floats and its pitfalls can be avoided. */
/* Common utility classes. */
.make-flex,
.g2tFormGroup,
.g2tFormControl,
.g2tFormControl label,
.g2tFormControl .img-container,
#g2timgOrattach,
.memberLabel,
div[trelloid-member] {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-apart {
    justify-content: space-between;
}
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-start;
}
.align-center {
    align-items: center !important;
}
.align-top {
    align-items: flex-start !important;
}
.flex-wrap {
    flex-wrap: wrap;
}
/* End of common utility classes */

/* Common presets */
#g2tPopup a,
.popupMsg {
    font-weight: bold;
}

#g2tPopup input[type="button"] {
    padding: 5px 16px;
    border-radius: 3px;
}
#g2tPopup input[type="checkbox"] + label {
    text-align: right;
}
#g2tPopup input[type="checkbox"] {
    margin-right: 4px;
}

.member-avatar {
    margin: 0px !important;
    line-height: 10px;
}
/* End of common presets */
/* trelloid-member */
div[trelloid-member],
.imgOrAttach label {
    padding: 4px;
    margin: 0;
    background-color: #ddd;
    border: 2px solid #ddd;
    border-top: 4px solid #ddd;
    border-radius: 2px;
    min-width: 45px;
    background-image: linear-gradient(to bottom, #eeeeee 0, #999999 100%);
}
div[trelloid-member].active,
.imgOrAttach input:checked + label {
    border-color: #000;
}
div[trelloid-member] img {
    margin-right: 6px;
}

#g2tLabels div,
#g2tMembers div,
.imgOrAttach label {
    float: left;
    margin: 0 2px 2px 0;
    padding: 6px 6px;
    list-style: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-top-width: 4px;
    cursor: pointer;
    background: #f2f2f2;

    font-weight: bold;
    color: #888;
}
.imgOrAttach label {
    box-sizing: border-box;
    float: none;
    width: 40px;
    padding:4px;
}

#g2tPopup #addToTrello /* input[type=button] */ {
    padding: 6px 18px;
    color: white;
    background: linear-gradient(to top, #24a828 0, #1b7e1e 100%);
    border: 0;
    cursor: pointer;
    margin: 0px;
}
#g2tPopup #addToTrello:hover {
    background: linear-gradient(to bottom, #1f9323 0, #166919 100%);
}
/* Global elements */
#g2tPopup a {
    margin: 0 4px;
    text-decoration: none;
    color: #458cbd;
    transition: 350ms;
}
#g2tPopup a:hover {
    color: #1e5175;
}
/* End of global elements */

.header {
    background-color: #edebee;
    color: #27282b;
    font-weight: bold;
}
.header #close-button {
    font-size: 24px;
    margin: 0px;
    color: #080808;
    background-color: #d5d5d5;
    border-radius: 3px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}
.header #close-button:hover {
    color: #d43030;
    background: #afafaf;
}
#g2tPopup .placeholder-label,
#g2tPopup .popupMsg {
    background: #f9edb8;
    padding: 3px 8px;
    border-radius: 3px;
    margin-bottom: 2px;
}

.first-row {
    align-items: flex-start;
    justify-content: space-between;
}

.first-row #addToTrello {
    margin-top: 12px;
    margin-right: 8px;
}
.g2tFormGroup {
    margin: 0 0px 6px 4px;
    width: 100%;
}

/* .g2tFormGroup.g2tFormGroup-tall-row label {
    padding: 9px 0;
} */
.g2tFormGroup .g2tFormLabel {
    min-width: 75px;
    /* margin: 4px 4px 8px 0; */
    padding: 5px 0;
    margin-right: 4px;
    text-align: right;
}
.g2tFormLabel{
    font-size: 0.875rem;
}
.g2tFormGroup .g2tFormControl {
    width: 90%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* .img-container {
    margin: 0 2px;

}
.img-container img {

} */
/* #g2tImages label { */
/* width: 100%; */
/* justify-content: flex-start;
    padding: 0;
}
#g2tImages label:first-child {
    padding-top: 5px;
    margin-top: 0px;
} */
.memberLabel {
    height: 39px;
    padding: 0 !important;
    margin: 0 4px 0 0 !important;
    justify-content: flex-end;
}

#g2tLabels div:hover,
#g2tMembers div:hover,
#g2tLabels div.active:hover,
#g2tMembers div.active:hover,
.imgOrAttach label:hover {
    border-color: #52a8d9 !important;
    color: #1789c0;
}
#g2tLabels div.active,
#g2tMembers div.active,
.imgOrAttach input:checked + label {
    border-color: inherit;
    color: black;
    padding: 3px 3px;
    border: 4px solid;
    border-top-width: 7px;
    background: linear-gradient(to bottom, #eeeeee 0, #999999 100%);
}
#g2tPosition li:hover,
#g2tPosition li.active:hover {
    color: black;
}
#g2tPosition li.active {
    color: darkgreen;
    background: #f2f2f2;
}

.imgOrAttach input {
    display: none;
}

.imgOrAttach input:active + label {
    background-color: #000;
}

.imgOrAttach .img-container {
    width: 20px;
    height: 20px;
}
.imgOrAttach .img-container img {
    width: 28px;
}
#g2tAttachments .imgOrAttach label {
    overflow: hidden;
    text-overflow: ellipsis;
    /* shows atleast 10 chars. */
    width: 10ch;

    white-space: nowrap;
    display: block;
}
#g2tAttachments .img-container {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

/* Adjusting the text's width inside the form control. */

.g2tFormControl select,
.g2tFormControl input[type="text"],
.g2tFormControl input[type="date"],
.g2tFormControl input[type="time"],
.g2tFormControl textarea {
    padding: 2px 6px;
    line-height: 20px;
    border-radius: 5px;
    margin: 2px 4px 2px 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    color: #2c2c2c;
}
.g2tFormControl input[type="text"],
.g2tFormControl input[type="date"],
.g2tFormControl input[type="time"],
.g2tFormControl textarea {
    min-height: 21px;
    margin-right: 8px;
    /* Padding and width gets added to the textbox's width.
    Therefore subscracting the left-right padding and border 
    from the overall width of the text-box; padding-left:4px; padding-right:4px; border-left:1px; border-right:1px; Total = 4+4+1+1 = 10
     */
    width: calc(100% - 10px);
}
.g2tFormControl textarea {
    height: calc(100% - 4px);
    resize: none;
}
#g2tAttachHeader {
    padding: 0;
}

.g2tFormControl input[type="time"],
.g2tFormControl input[type="date"] {
    width: fit-content;
}
.g2tFormControl select {
    padding: 2px 6px;
    -webkit-appearance: none;
    padding-right: 20px;
    background: url("chrome-extension://__MSG_@@extension_id__/images/chevron-down.png") no-repeat calc(100% - 5px) 50%;
    background-size: 11px;
}
#g2tDue_Shortcuts {
    /* width: 62px; */
    width: 1em;
}
.align-top {
    align-items: flex-start;
}
.lower-half {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}
.no-margin {
    margin: 0px;
}
.body-row {
    flex-grow: 2;
}

/* End of Updatd styles . KS */
