.hidden {
    display: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* toolbar holder */
.iH div {
    position: static;
}

#g2tPopup {
    position: absolute;
    max-height: none;
    right: 0;
    min-width: 450px;
    -webkit-user-select: none;
    overflow: hidden;
    border-top: 2px solid #ccc; /*#0088C3;*/
    border-bottom: 2px solid #ccc;
    background: #fefefe;
    padding: 0;
    opacity: 0.95;
    z-index: 99998; /*still behind the slider*/
    overflow: visible;
    white-space: normal;
}

#g2tPopupSlider {
    position: absolute;
    left: 0;
    top: -2px;
    bottom: -2px;
    width: 3px;
    border-top: 32px solid #0088c3; /*#0088C3;*/
    background: #0088c3;
    z-index: 99999;
    cursor: col-resize;
}

#g2tPopup .inner {
    overflow: hidden;
    margin-left: 3px;
}

#g2tButton {
    padding-left: 16px;
    padding-right: 16px;
    -webkit-user-select: none;
    margin-bottom: 0px;
    margin-top: -2px;
    outline: none;
}
#g2tButton * {
    outline: none;
}
#g2tButton img {
    vertical-align: -4px;
    height: 16px;
    padding-right: 2px;
}

#g2tPopup .content {
    position: relative;
    left: 0;
    padding: 5px;
}

#g2tPopup .popupMsg {
    border: 1px solid #edc967;
    background: #f9edb8;
    padding: 5px 10px 15px;
    margin: 10px;
}

#g2tListMsg {
    background: #f9edb8;
}
ul#g2tList {
    float: left;
    margin: 0;
    padding: 0;
}
/*
#g2tList li {float:left;margin:0 10px 0 0;padding:5px 10px;list-style: none;border: 1px solid #ccc;border-radius:3px;cursor:pointer;background: #F2F2F2;font-size:11px;}
*/
#g2tPopup .listrow {
    min-height: 31px;
}
#g2tList li {
    float: left;
    margin: 0 10px 5px 0;
    padding: 4px 10px;
    list-style: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-top-width: 5px;
    cursor: pointer;
    background: #f2f2f2;
    font-size: 11px;
    cursor: pointer;
    font-weight: bold;
    color: #666;
}
#g2tList li:hover,
#g2tList li.active,
#g2tList li.active:hover {
    border-color: #3086b7;
    color: #05679e;
}

#g2tPopup dt {
    width: 70px;
    float: left;
    text-align: right;
    padding-right: 5px;
}
#g2tPopup dd {
    display: block;
    margin: 8px;
    margin-left: 75px;
}

#g2tPopup input,
#g2tPopup select,
#g2tPopup option {
    font-size: 12px;
}

#g2tPopup input[type="button"] {
    font-size: 14px;
    padding: 5px 18px;
    color: #fff;
    background: linear-gradient(to bottom, #24a828 0, #1b7e1e 100%);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
#g2tPopup input[type="button"]:hover {
    background: linear-gradient(to bottom, #1f9323 0, #166919 100%);
}
#g2tPopup input[type="text"],
#g2tPopup textarea {
    padding: 3px;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
}

#g2tPopup input[disabled],
#g2tPopup input[disabled]:hover {
    background: #ccc;
    color: #666;
    cursor: default;
}

/*
#g2tPopup #closeButton {z-index:9999;position: absolute;top:0;right:0;padding: 5px 15px;border: 1px solid #CBCBCB;background: #F2F2F2;color:#000;text-decoration: none}
#g2tPopup #closeButton:hover {background: #ccc}
*/

#g2tPopup .hdr {
    font-weight: bold;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    background: #eceaed;
    border-bottom: 1px solid #ccc;
}
#g2tPopup .hdr a {
    text-decoration: none;
}
#g2tPopup .hdr a:hover {
    text-decoration: underline;
}
#g2tPopup .hdr .item {
    float: left;
    margin-right: 10px;
}
#g2tPopup .member-avatar {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: #d6d6d6;
    color: #000;
    text-align: center;
}
#g2tPopup #close-button {
    float: right;
    margin-right: 0;
    padding: 0 10px;
    background: #f0eef1;
}
